.cardContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  color: #fff;
  padding: 16px;
  /* max-width: 768px; */
  margin: 24px auto;
}

.card {
  display: grid;
  grid-row: span 5;
  grid-template-rows: subgrid;
  row-gap: 8px;
  border: solid 1px #333;
  padding: 4px 16px;
  border-radius: 8px;
}

.card-title {
  font-size: 1.2rem;
}

.card-image {
  width: 100%;
  aspect-ratio: 5/ 4;
  max-height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card-code {
  background-color: rgb(20, 64, 106);
  height: 20px;
  padding: 2px 8px;
  border-radius: 3px;
}

[class^='card-store-img'] {
  margin-right: 10px;
}

.card-store-img-ios,
.card-store-img-android {
  width: 130px;
  aspect-ratio: 3/ 1;
}

.card-store-img-chrome {
  width: 130px;
  height: 43px;
  object-fit: cover;
  border-radius: 4px;
}
